@model NicaBusMVC.Models.DetallesViaje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetallesViaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameBus" class="control-label"></label>
                <input asp-for="NameBus" class="form-control" />
                <span asp-validation-for="NameBus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraSalida" class="control-label"></label>
                <input asp-for="HoraSalida" class="form-control" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraLlegada" class="control-label"></label>
                <input asp-for="HoraLlegada" class="form-control" />
                <span asp-validation-for="HoraLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" />
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
